@use "./reset";

@include reset.default();

$menu-color: #7170db;

.box {
  width: 100vw;
  height: 100vh;
}

.left-box {
  position: fixed;
  height: 100vh;
  background-color: $menu-color;
  width: 80px;
  padding-top: 2%;
  z-index: 5;
  transition: all 0.5s;
  .test {
    margin-left: 15px;
    color: white;
    position: relative;
    .left-box-icon {
      font-size: 1.1em;
    }
    .left-box-text {
      position: absolute;
      transform: translateX(-150px);
    }
    i {
      font-size: 1em;
      margin-bottom: 20%;
    }
  }
}
.left-box:hover {
  text-align: left;
  width: 10%;
  z-index: 1;
  .left-box-text {
    animation-name: leftmenu;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    // transform: translateX(15px);
  }
}

.right-box {
  padding-left: 8%;
  width: 96%;
}
.right-top {
  height: 5%;
  padding: 10px 1%;
  justify-content: space-between;
}
.right-middle {
  height: 20%;
  padding: 1%;
}
.right-bottom {
  padding: 2% 4%;
  transform: rotate(0.02deg);
  height: 75%;
}
.right-bottom-left {
  .rbl-title {
    font-size: 1.2rem;
    padding-bottom: 2%;
    border-bottom: 1px solid #eef1e3;
  }
  .rbl-chart {
    padding-top: 3%;
    height: 50%;
  }
}
.right-bottom-right {
  .rbr-title {
    font-size: 1.2rem;
    padding-bottom: 3%;
    padding-left: 5%;
  }
  .rbr-content {
    li {
      padding-top: 3%;
      padding-bottom: 3%;
      font-size: 1.2rem;
    }
    span {
      font-size: 1.2rem;
    }
  }
}
.nav-alert {
  color: white;
  border-radius: 5px;
  font-size: 0.9rem;
  position: absolute;
  top: -10px;
  background-color: red;
  padding: 4px;
}
.nav-items {
  transform: rotate(0.02deg);
  font-size: 1.3rem;
  margin-right: 10%;
  color: gray;
}
.nav-icons {
  @extend .nav-items;
  position: relative;
}
.right-top-left {
  width: 70%;
  input {
    position: relative;
    z-index: 0;
    width: 16%;
    transition: all 0.5s;
  }
  input:hover {
    width: 40%;
  }
}
.right-top-right {
  text-align: end;
  width: 30%;
}

.right-middle-content {
  padding-top: 2%;
  transform: rotate(0.02deg);
  justify-content: space-evenly;
  .rmc-item {
    border-radius: 10px;
    justify-content: space-between;
    padding: 5% 5%;
    width: 100%;
    height: 100%;
    border-left: 2px solid $menu-color;
    p {
      font-size: 1.25rem;
    }
    i {
      padding-top: 8%;
      font-size: 2rem;
      color: gray;
    }
  }
}

@keyframes leftmenu {
  100% {
    transform: translateX(30px);
  }
}

@media screen and (max-width: 992px) {
  .left-box {
    width: 50px;
  }
  .left-box:hover {
    width: 20%;
  }
  .right-box {
    padding-left: 8%;
  }
  .right-top-right {
    padding: 1% 0px;
    .nav-items {
      font-size: 1em;
    }
  }
  .right-middle {
    padding-top: 5%;
    height: 45%;
    .rmc-item {
      padding: 2% 3%;
      i {
        padding-top: 2%;
      }
    }
  }
  .right-bottom {
    padding: 3% 1%;
    .rbr-title {
      padding: 5% 0px 3% 1%;
    }
  }
}
