@use "./reset";

@include reset.default();

body {
  background-color: gray;
  height: 4000px; //스크롤에서 sticky보기위해
}

.gray {
  background-color: lightgray;
  height: 2000px;
  margin-top: 500px;
}

.image {
  width: 400px;
  float: right;
  position: sticky;
  top: 100px;
}
.text {
  float: left;
  width: 300px;
  font-size: 1.5rem;
}
.fixed {
  /*
    실험결과 position fixed는 공간상관없이 붕떠서 그자리에 고정된위치다.
    즉 스크롤위치고 자시고 상관없이 항상 그포지션에 고정
    */
  position: fixed;
  top: 100px;
  width: 300px;
  height: 300px;
  background-color: red;
  float: right;
}
