body {
  margin: 0px;
}
div {
  margin: 0px;
  box-sizing: border-box;
}
.container {
  width: 80%;
  height: 80%;
  /* 마법의 가운데정렬 */
  margin-left: auto;
  margin-right: auto;
}

.user {
  display: inline-block;
}
.blog_content {
  width: 80%;
  height: 200px;
  float: left;
  background-color: #eee;
}
.img_container {
  width: 20%;
  height: 200px;
  float: left;
  background-color: aqua;
}
.user-img {
  border-radius: 50%;
  width: 50px;
  float: left;
}
.user-info {
  float: left;
}
.blog-img {
  width: 100%;
  height: 100%;
}
