html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 10px;
}

.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: orange;
}
.header {
  width: 100%;
  height: 10%;
  background-color: aqua;
}
.left {
  width: 20%;
  height: 75%;
  background-color: cornflowerblue;
  /* display:inline-block;  => 미세한 공백문제때문에 잘안쓰이지만 부모컨테이너의 font-size를 0으로해주면 없어지긴한다*/
  /* or */
  float: left;
  /* float -> 해당 요소를 띄워서 정렬해달란소리 */
}
.right {
  width: 80%;
  height: 75%;
  background-color: coral;
  float: left;
  /* left가 붕떠서 왼쪽정렬됫으니까 right도 붕떠서 정렬할때
  블록처럼 옆에 착하고 쌓이는 느낌 
  right에 float가 없다면 붕떠서 쌓인 left밑에 중복해서 깔리는부분이생김
  [포개지듯이]
  */
}
.footer {
  /* 붕떠서 정렬이됫기때문에 다음 div는 붕떠잇는애 아래에 정렬이되기때문에
  clear속성을 줘서 그 안에 쌓이지말고 아래부터 착착붙게 하는느낌 */
  clear: both;
  /* left right 등잇는데 float를 어디서햇을지 찾기귀찮으면 양쪽(both)옵션 */
  width: 100%;
  height: 15%;
  background-color: gray;
}
