/* media 쿼리는 맨밑에 css캐스케이딩이니까 */
body {
  margin: 0px;
}
div {
  box-sizing: border-box;
}

.flex-container {
  background-color: black;
  display: flex;
  /* flex-wrap: wrap; */
  padding: 5px;
  height: 40px;
  align-items: center;
  /* item이 넘칠때 아래로 보낼건지 */
}

.flex-item {
  margin: 10px;
  width: 200px;
  /*
  table과 비슷하게 최대한 해당 width를 set하려고 노력을하는거지
  100%는 아님
  */
  color: white;
}

.grow {
  /* flex특징상 정확히는아니지만 최대한 배율유지를 하려고 한다 */
  flex-grow: 3;
  /* 다른 grow요소 먹은거에 비해 비율을 조정 */
}
.menu {
  text-align: end;
}

.test {
  width: 100vw;
  /* view width */
  /* rem : 기본폰트사이즈에(보통 16px) 비례 
  타 브라우저에서 폰트크기 조정을했는데 rem이 아니라면
  레이아웃이 폰트때문에 무너지기때문에 비례해서 레이아웃도 변경되는느낌이다
  그니까 폰트가 커지면 rem단위도 커지고 그러니 레이아웃도 덩달아 커지겟지
  하지만 요새는 컨트롤누르고 확대하기때문에 쓰려나,,
  
  em : 내 폰트사이즈에 비례*/

  height: 100px;
  background-color: gray;
}

/* ------------ */

@font-face {
  font-family: "my-font";
  src: url("");
}

body {
  margin: 0px;
  font-family: "gulim", "dotum", "arial";

  font-weight: 900;
}

p,
h4,
h3,
h2,
h1,
span {
  /* 폰트 알리어싱을 주는방법인데 맥은상관없는데 윈도우면
      확대시 폰트가 살짝 깨질수잇는데 해결방법이 티도안날정도로 살짝 회전을 시켜주는거 */
  transform: rotate(0.03deg);
}

div,
input,
textarea {
  box-sizing: border-box;
}

/* 이런게 css 초기화 */

.main-background {
  background-color: #eee;
  width: 100%;
  height: 500px;
  background-image: url("https://png.pngtree.com/background/20210712/original/pngtree-abstract-modern-neon-frame-background-picture-image_1178251.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* cover 알아서 채워라 contain 공백잇어도 되니 배경 다나오게해줘라 */
  background-position: center;
  padding: 1px;
  /* margin-collapse를 없애기위해 마진을 나눈 모습 */
}
.content {
  position: relative;
  box-sizing: border-box;
  text-align: center;
}
.main-title {
  color: white;
  font-size: 80px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.main-content {
  color: white;
  font-size: 40px;
}

.main-button {
  background: #eee;
  padding: 15px;
  font-size: 15px;
  border: none;
  border-radius: 5px;

  position: relative;
  top: 20px;
}

.main-footer {
  position: relative;
  padding: 30px;
  margin: auto;
  text-align: center;
  color: black;
  background-color: #eee;
  max-width: 600px;
  /* width를 %로줄경우 모바일 태블릿등 pc창과는 너무다르기때문에
    최대 width를 정해주는게 좋다 */
  width: 80%;
  top: -40px;
  /* 붕떠잇는애들이 많을때 순서를 정하는 z-index 높을수록 더 붕떠잇다(뷰포트에 잡히겟지?) */
}

/* css셀렉터 문법 뭔느낌인지는 알겟지? */
input[type="text"] {
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.form-backgroud {
  background-color: black;
  padding: 30px;
}
.form-white {
  background-color: white;
  padding: 30px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.w-100 {
  width: 100%;
  padding: 10px;
}
/* 간격맞추기위해 동일한 padding */
.w-50 {
  width: 50%;
  float: left;
  padding: 10px;
}

.form-long {
  height: 250px;
}

.yellow-button {
  padding: 15px;
  border: none;
  background-color: antiquewhite;

  /* 오른쪽 정렬을위한 button은 inline태그인듯 */
  display: block;
  float: right;
}

/* ----- */
@media screen and (max-width: 1200px) {
  /* max-width 1200px(가 breakpoint)까지는 아래의 코드로 적용해주세요 느낌 */
  .main-title {
    font-size: 30px;
    color: black;
  }
}
/* 여러개 사용가능 */

@media screen and (max-width: 768px) {
  /* max-width 1200px까지는 아래의 코드로 적용해주세요 느낌 */
  .main-title {
    font-size: 15px;
    color: green;
  }
}

/*
많이사용하는 break-point
그후엔 pc 1200[까지 태블릿] 992 768 576[까지 모바일]
*/
